*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
.DS_STORE

# YARD artifacts
.yardoc
_yardoc
doc/

info.markdown
devlog_purepoint.markdown
devlog_book.markdown
.devlog.yml
*~
